<!DOCTYPE html>
<html>
<head>
    <title>TV Show Game - Play</title>
</head>
<body>
<h1>TV Show Game</h1>
<form action="/result" method="post">
    <input type="radio" name="box" value="0" id="box1">
    <label for="box1">Box 1</label><br>
    <input type="radio" name="box" value="1" id="box2">
    <label for="box2">Box 2</label><br>
    <input type="radio" name="box" value="2" id="box3">
    <label for="box3">Box 3</label><br>
    <!-- Add more radio buttons if needed -->

    <button type="submit">Play</button>
</form>
</body>
</html>
